@use '../abstract'as *;

body {
  @include font-face (default, 400, $font-med);
  background-color: var(--very-light-gray);

  ::selection {
    background: var(--very-dark-violet);
    color: var(--very-light-gray);
  }
}