@use '../abstract'as *;

html {
  scroll-behavior: smooth;
  // overflow-y: hidden;
}

body {
  @include font-face (default, $font-med, 400);

  ::selection {
    background: var(--grayish-blue);
    color: var(--very-light-gray);
  }

  // @include breakpoint-up(xlarge) {
  //   max-width: rem(1440);
  //   margin: auto;
  // }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none !important;
  }
}

.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none !important;
  }
}

.toggle-display {
  display: none !important;
}

.no-scroll {
  overflow-y: hidden;
}