@use '../abstract'as *;

.features {
  padding: rem(188) rem(26) rem(70);
  text-align: center;

  @include breakpoint-up(medium) {
    padding: rem(188) rem(26) rem(70);
  }

  @include breakpoint-up(large) {
    padding: rem(305) rem(120) rem(188);
    text-align: left;
  }

  @include breakpoint-up(xlarge) {
    padding: rem(305) rem(165) rem(162);
  }

  &__heading {
    @include font-face(heading, rem(48), 400, var(--very-dark-violet));
    letter-spacing: .9;
    position: relative;

    &::before {
      @include position(absolute, $content: '', $top: rem(-32), $right: 0, $left: 0);
      background-color: #9E96C6;
      height: rem(1);
      margin: auto;
      width: rem(150);

      @include breakpoint-up(large) {
        margin: 0;
      }
    }

    @include breakpoint-up(large) {
      font-size: rem(54);
      letter-spacing: 0;
    }

    @include breakpoint-up(xlarge) {
      font-size: rem(72);
    }
  }

  &__section {
    &-wrapper {
      @include breakpoint-up(medium) {
        display: grid;
        gap: rem(30);
        grid-template-columns: 1fr 1fr 1fr;
      }
    }

    &-1,
    &-2,
    &-3 {
      &--icon {
        padding-top: rem(44);
      }

      &--heading {
        @include font-face(heading, rem(28), 400, var(--very-dark-violet));
        margin-bottom: rem(18);
        padding-top: rem(32);
      }

      &--details {
        @include font-face(default, $font-med, 400, var(--dark-grayish-violet));
        max-width: rem(350);
        margin: 0 auto rem(16);

        @include breakpoint-up(medium) {
          margin: 0;
        }
      }
    }
  }
}