@use '../abstract'as *;

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: rem(24);
  z-index: 2;

  @include breakpoint-up(medium) {
    padding: rem(28) rem(72);
  }

  @include breakpoint-up(large) {
    padding: rem(21) rem(120);
  }

  @include breakpoint-up(xlarge) {
    padding: rem(21) rem(165);
  }

  &__logo {
    >svg {
      display: block;
    }
  }

  &__nav {
    &--desktop {
      align-items: center;
      display: flex;
      gap: rem(46);
    }

    &--mobile {
      align-items: center;
      display: flex;
      gap: rem(46);
    }
  }

  &__links {
    align-items: center;
    display: flex;
    gap: rem(34);

    a {
      @include font-face(default, $font-sm, 700, $color: var(--dark-grayish-violet));
      text-transform: uppercase;
      transition: all 200ms ease-in-out;

      &:hover {
        color: var(--dark-violet);
      }
    }

    &--btn {
      @include font-face(default, $font-sm, 700, $color: var(--very-dark-violet));
      background-color: #fff;
      border-radius: 0;
      border: 2px solid var(--very-dark-violet);
      cursor: pointer;
      height: rem(40);
      letter-spacing: rem(.8);
      text-transform: uppercase;
      transition: all 150ms ease-in-out;
      margin: 0 auto;
      width: rem(146);

      &:hover {
        background-color: var(--very-dark-violet);
        color: var(--very-light-gray);
      }
    }
  }

  &__burger {
    svg {
      cursor: pointer;
      display: block;
    }

    &-links {
      @include position(absolute, $top: rem(80), $right: 0, $bottom: 0, $left: 0);
      background-color: var(--very-dark-violet);
      background-image: url('/app/images/bg-pattern-mobile-nav.svg');
      background-position-y: bottom;
      background-repeat: no-repeat;
      background-size: contain;
      display: flex;
      flex-direction: column;
      gap: rem(38);
      padding: rem(48) rem(24) 0;
      text-align: center;
      visibility: hidden;
      z-index: 2;

      >a {
        @include font-face(default, rem(18), 700, $color: var(--very-light-gray));
        padding: rem(6);
        text-transform: uppercase;
      }

      &--btn {
        @include font-face(default, rem(18), 700, $color: var(--very-light-gray));
        background-color: var(--very-dark-violet);
        border: 2px solid var(--very-light-gray);
        cursor: pointer;
        height: rem(56);
        text-transform: uppercase;
        margin: 0 auto;
        max-width: rem(327);
        transition: all 150ms ease-in-out;
        width: 100%;

        &:active {
          background-color: #fff;
          color: var(--very-dark-violet);
        }
      }
    }
  }
}