@use '../abstract'as *;

.hero {
  background-color: var(--dark-violet);

  @include breakpoint-up(large) {
    height: rem(600);
    padding: 0 rem(120);
    position: relative;
  }

  @include breakpoint-up(xlarge) {
    padding: 0 rem(165);
  }

  &__content-wrapper {
    @include breakpoint-up(large) {
      display: flex;
      flex-direction: row-reverse;
      gap: rem(30);
      justify-content: space-between;
      transform: translateY(rem(72));
    }

    @include breakpoint-up(xlarge) {
      transform: translateY(rem(105));
    }
  }

  &__banner {
    >img {
      display: block;
      height: auto;
      width: 100%;
    }
  }

  &__text-wrapper {
    @include breakpoint-down(medium) {
      padding: rem(28);
      position: relative;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 500px;
    }

    @include breakpoint-up(large) {
      text-align: left;
      width: rem(540);
    }
  }

  &__heading {
    @include font-face(heading, rem(48), 400, var(--very-light-gray));
    letter-spacing: rem(-1);
    line-height: .9;
    position: relative;
    margin-bottom: rem(6);

    @include breakpoint-up(large) {
      letter-spacing: 0;
      padding-top: rem(48);

      &::before {
        @include position(absolute, $content: '', $top: 0, $left: 0);
        background-color: var(--very-light-gray);
        height: rem(2);
        width: rem(150);
      }
    }

    @include breakpoint-up(xlarge) {
      font-size: rem(54);
      padding-top: rem(72);
    }

    @include breakpoint-up(xlarge) {
      font-size: rem(72);
    }

  }

  &__details {
    @include font-face(default, $font-med, 400, var(--very-light-gray));
    padding: rem(20) 0;
  }

  &__btn--cta {
    @include font-face(default, $font-sm, 700, $color: var(--very-light-gray));
    background-color: var(--dark-violet);
    border-radius: 0;
    border: 2px solid var(--very-light-gray);
    cursor: pointer;
    height: rem(40);
    letter-spacing: rem(.8);
    text-transform: uppercase;
    transition: all 150ms ease-in-out;
    margin: 0 auto;
    max-width: rem(146);
    width: 100%;

    &:hover {
      background-color: var(--very-light-gray);
      color: var(--very-dark-violet);
    }

  }
}