// ---------- MEDIA QUERY MIXINS ---------- //

@mixin breakpoint-up($size) {
  @media (min-width:map-get($breakpoints-up, $size)) {
    @content;
  }
}

@mixin breakpoint-down($size) {
  @media (max-width:map-get($breakpoints-down, $size)) {
    @content;
  }
}

// 640px, 1024px, 1400px
$breakpoints-up: ("medium": "40em", "large": "64em", "xlarge": "87.5em");

// 639px, 1023px, 1399px
$breakpoints-down: ("small": "39.9375em", "medium": "63.9375em", "large": "87.4375em");



// ---------- FONT-FACE MIXINS ---------- //

@mixin font-face($type: 'default', $weight, $size) {
  @if $type=='heading' {
    font-family: 'DM Serif Display',
      serif;
  }

  @if $type=='default' {
    font-family: 'Karla', sans-serif;
  }

  font-size: #{$size};
  font-weight: $weight;
}